/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/

* {
    margin: 0;
    padding: 0;
  }
  section {
    width: 80%;
    margin: auto;
    margin-top: 5%;  
    padding-left: 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    grid-auto-columns: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 10%;
    margin-right: 10%;
  }
  .cards {
    width: 250px;
    padding: 20px;
  }
  .cards:hover {
    box-shadow: 0 10px 10px 10px rbga(0, 0, 0, 0.1);
    cursor: pointer;
  }
  .image_box img {
    width: 150px;
    height: 150px;
  }
  
  .image_box img {
    width: 150px;
    height: 150px;
  }
  .details p:nth-child(1) {
    font-weight: bold;
  }
  .details p:nth-child(2) {
    color: grey;
    font-size: 0.8rem;
  }
  .details p:nth-child(3) {
    font-weight: bolx;
    color: grey;
  }
  .details button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: lightgreen;
    outline: none;
  }

  .order {
    padding: 5px 10px;
    margin-left: 25;
    font-size:larger;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: lightgreen;
    outline: none;
  }

  .inicio {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
  }